:root {
  --vp-sidebar-width-mobile: 280px;
  --vp-sidebar-width-small: 220px;
  --vp-sidebar-width-medium: 220px;
  --vp-sidebar-width-large: 220px;

  --vt-c-brand-active: #44bd87;

  --vt-c-disabled-bg: #88888850;
  --vt-c-disabled-fg: inherit;
}

html.dark {
  color-scheme: dark;
}

/* Add missing PHP in code blocks */
.vt-doc [class~="language-php"]::before {
  content: "php";
}

.vt-doc [class~="language-sql"]::before {
  content: "sql";
}
